<!doctype html>
<html ng-app="pushPresenceApp" ng-csp>
<head>
  <meta charset="utf-8">
  <title>PushPresence</title>

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-cloak ng-controller="OptionsCtrl">
  <!-- <div>{{ config | json }}</div>
  <div>{{ model | json }}</div> -->
  <div class="page-header"><h1>PushPresence
    <small>PushBullet User Presence Extension</small></h1>
  </div>
  <div class="container">
    <h3>Devices</h3>
    <div class="row">
      <div class="col-md-3">
        <select class="nullable form-control" ng-disabled="config.devices.length == 0" ng-change="DeviceSelected()" ng-model="deviceId" ng-options="d.iden as d.nickname for d in config.devices">
          <option value="">Select a device</option>
        </select>
      </div>  
      <div class="col-md-5 btn-group">
        <button class="btn btn-primary" ng-disabled="deviceId == null" ng-click="AddSubscription()">Add Event Subscription</button>
        <button class="btn btn-info" ng-disabled="!deviceId" ng-click="TestPush()">Send test push</button>
        <button class="btn btn-default" ng-disabled="!online || !ApiKeySet()" ng-click="RefreshDevices()">Refresh Devices</button>
      </div>  
      <div class="col-md-4">
        <accordion>
          <accordion-group is-open="config.expanded">
          <accordion-heading>
          PushBullet API Configuration <i class="pull-right glyphicon glyphicon-cog"></i>
        </accordion-heading>
        <div>Click <a href="https://www.pushbullet.com/account" target="_blank">here</a> to get an access token</div>
        <div ng-class="{'has-error' : !(ApiKeySet()), 'has-success' : (ApiKeySet()) }">
          <div class="col-md-6">
            <input type="text" class="token form-control" placeholder="API Token" ng-change="SetToken()" ng-model="config.pushBulletApiToken"/>
          </div>
          <div class="col-md-6">
            <div class="alert alert-danger" ng-if="!(ApiKeySet())">API Token is required</div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>

<h3>Event Subscriptions</h3>
<tabset>
  <tab ng-repeat="s in model.subscriptions" heading="{{ GetDeviceName(s.deviceId); }}">
    <app-subscription data="s"></app-subscription>
  </tab>
</tabset>
<br><br>
<div class="btn-group" role="group" aria-label="Functions">
  <button class="btn btn-primary" ng-click="Save()">Save</button>
  <button class="btn btn-warning" ng-click="Reset()">Reset</button>
</div>
<span ng-bind="saveStatus"></span>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/options.js -->
<script src="scripts/pushbullet.js"></script>
<script src="scripts/datamodel.js"></script>
<script src="scripts/angular/pushPresenceApp.js"></script>
<script src="scripts/options.js"></script>
<!-- endbuild -->
</body>
</html>
