<!doctype html>
<html ng-app="pushPresenceApp" ng-csp>
<head>
  <meta charset="utf-8">
  <title>PushPresence</title>

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-cloak ng-controller="OptionsCtrl">
  <div>{{ model | json }}</div>
  <h1>PushPresence</h1>
  <fieldset>
    <legend>PushBullet API configuration</legend>
    <div>Click <a href="https://www.pushbullet.com/account" target="_blank">here</a> to get an access token</div>
    <input type="text" class="token form-control" placeholder="API Token" ng-change="SetToken()" ng-model="model.pushBulletApiToken"/><button class="btn btn-default" ng-click="RefreshDevices()">Refresh Devices</button>
    <span class="alert alert-danger" ng-if="model.pushBulletApiToken.length != 32">API Token must be 32 characters</span>

    <div>
      <label>Device:
        <select class="pull-left nullable form-control" ng-disabled="model.devices.length == 0" ng-change="DeviceSelected()" ng-model="model.deviceId" ng-options="d.iden as d.nickname for d in model.devices"><!--  | filter:{active:true} -->
          <option value="">Select a device</option>
        </select>
      </label>
    </div>
  </fieldset>

  <div ng-repeat="s in model.localSubscriptions">
    <!-- TODO: add Remove button/capability -->
    <app-subscription data="s"></app-subscription>
  </div>
  <div ng-repeat="s in model.cloudSubscriptions">
    <app-subscription data="s"></app-subscription>
  </div>
  <br><br>
  <div class="btn-group" ng-repeat="s in StorageTypes">
    <button class="btn btn-default" ng-click="AddSubscription($index)">Add {{ s | capitalize }} Event Subscription</button>
  </div>
  <br><br>
  <div class="btn-group">
    <button class="btn btn-default" ng-click="Save()">Save</button>
    <button class="btn btn-secondary" ng-click="Clear()">Clear</button>
  </div>
  <span ng-bind="saveStatus"></span>
</div>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/bootstrap-css/js/bootstrap.min.js"></script>
<script src="bower_components/checklist-model/checklist-model.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/options.js -->
<script src="scripts/pushbullet.js"></script>
<script src="scripts/datamodel.js"></script>
<script src="scripts/angular/pushPresenceApp.js"></script>
<script src="scripts/options.js"></script>
<!-- endbuild -->
</body>
</html>
